<div class="box">
  <div class="profile">
    <div class="profile_img">
      <% if @profile.image_name %>
        <%= image_tag "/avatars/#{@profile.image_name}" %>
      <% else %>
        <%= image_tag 'user.svg' %>
      <% end %>
    </div>
    <div class="profile_info">
      <h3 class="profile_info_name"><%= current_user.display_name %></h3>
      <h4 class="profile_info_gender">・<%= current_user.gender %></h4>
      <p class="profile_info_introduction"><%= current_user.introduction %></p>
    </div>
    <%= link_to 'Edit', edit_profile_path, class: 'profile_edit' %>
  </div>

  <div class="boards">
    <% current_user.boards.each do |board| %>
      <%= render 'commons/board', board: board %>
    <% end %>
  </div>
</div>
