<div class="box">
  <div class="comment_show">
    <%= image_tag 'icon2.png', class: 'comment_show_icon' %>
    <p class="comment_show_content"><%= @comment.content %></p>
    <% if user_signed_in? && current_user.comments.exists?(id: @comment.id) %>
      <div class="board_drop comment_drop">
        <%= image_tag 'drop.svg', class: 'board_drop_icon comment_drop_icon' %>
        <div class="board_drop_content comment_drop_content">
          <%= link_to 'Edit', edit_board_task_comment_path(@comment.task.board, @comment.task, @comment), class: 'board_drop_content_btn comment_drop_content_btn' %>
          <%= link_to 'Delete', board_task_comment_path(@comment.task.board, @comment.task, @comment), class: 'board_drop_content_btn comment_drop_content_btn', method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
