<div class="box">
  <h2 class="comment_h">Comment</h2>
  <div class="comment_show">
    <% if @comment.user.profile&.image_name %>
      <%= image_tag "/avatars/#{@comment.user.profile.image_name}", class: 'comment_show_icon' %>
    <% else %>
      <%= image_tag 'user.svg', class: 'comment_show_icon' %>
    <% end %>
    <div class="comment_show_content">
      <div class="comment_show_content_name"><%= @comment.user.display_name %></div>
      <p class="comment_show_content_p"><%= @comment.content %></p>
    </div>
    <% if user_signed_in? && current_user.comments.exists?(id: @comment.id) %>
      <div class="board_drop comment_drop">
        <%= image_tag 'drop.svg', class: 'board_drop_icon comment_drop_icon' %>
        <div class="board_drop_content comment_drop_content">
          <%= link_to 'Edit', edit_board_task_comment_path(@comment.task.board, @comment.task, @comment), class: 'board_drop_content_btn comment_drop_content_btn' %>
          <%= link_to 'Delete', board_task_comment_path(@comment.task.board, @comment.task, @comment), class: 'board_drop_content_btn comment_drop_content_btn', method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>
