<div class="box">
  <h2>Edit Task</h2>

  <% @task.errors.full_messages.each do |message| %>
    <p class="error_message"><%= message %></p>
  <% end %>

  <%= form_with url: board_task_path, method: :put, local: true do |f| %>

    <div class="field">
      <label class="title">Name</label>
      <input type="text" name="title" value="<%= @task.title %>">
    </div>

    <div class="field">
      <label class="content">Description</label>
      <textarea name="content"><%= @task.content %></textarea>
    </div>

    <div class="field">
      <label class="expiration">Expiration</label>
      <input type="date" name="expiration" value="<%= @task.expiration %>">
    </div>

    <div class="actions">
      <input type="submit" value="Submit">
    </div>
    
  <% end %>
</div>
