<div class="box">
  <h2>Edit Task</h2>

  <% @task.errors.full_messages.each do |message| %>
    <p class="error_message"><%= message %></p>
  <% end %>

  <%= form_with model: @task, url: board_task_path(@task.board, @task), method: :put, local: true do |f| %>

    <div class="field">
      <label class="title">Name</label>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <label class="content">Description</label>
      <%= f.text_area :content %>
    </div>

    <div class="field">
      <label class="expiration">Expiration</label>
      <%= f.date_field :expiration %>
    </div>

    <div class="actions">
      <%= f.submit :Submit %>
    </div>
    
  <% end %>
</div>
