<div class="box">
  <h2>New Card</h2>

  <% @task.errors.full_messages.each do |message| %>
    <p class="error_message"><%= message %></p>
  <% end %>

  <%= form_tag(board_tasks_path(@task.board), {multipart: true}) do %>

    <div class="field">
      <label class="eyecatch">Eyecatch</label>
      <input type="file" name="eyecatch" class="eyecatch_input" value="<%= @task.eyecatch %>">
    </div>

    <div class="field">
      <label class="title">Name</label>
      <input type="text" name="title" value="<%= @task.title %>">
    </div>

    <div class="field">
      <label class="content">Description</label>
      <textarea name="content"><%= @task.content %></textarea>
    </div>

    <div class="field">
      <label class="expiration">Expiration</label>
      <input type="date" name="expiration" value="<%= @task.expiration %>">
    </div>

    <div class="actions">
      <input type="submit" value="Submit">
    </div>
    
  <% end %>

</div>
