<div class="box">
  <div class="task_show">
    <div class="task_show_top">
      <h2><%= @task.title %></h2>
      <% if user_signed_in? && current_user.tasks.exists?(id: @task.id) %>
        <%= if task.eyecatch.attached? %>
          <%= image_tag task.eyecatch %>
        <% end %>
        <div class="board_drop task_top">
          <%= image_tag 'drop.svg', class: 'board_drop_icon task_top_icon' %>
          <div class="board_drop_content task_top_content">
            <%= link_to 'Edit', edit_board_task_path(@task.board, @task), class: 'board_drop_content_btn task_top_content_btn' %>
            <%= link_to 'Delete', board_task_path(@task.board, @task), class: 'board_drop_content_btn task_top_content_btn', method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="task_show_content">
      <p class="task_show_content_p"><%= @task.content %></p>
      <time class="task_show_content_date"><%= @task.expiration %></time>
    </div>
    <div class="comments">
      <h3>Comment</h3>
      <div class="comments_content">
        <% @task.comments.each do |comment| %>
          <%= link_to board_task_comment_path(@task.board, @task, comment), class: 'comment' do %>
            <%= image_tag current_user.avatar_image, class: 'comment_icon' %>
            <div class="comment_content">
              <div class="comment_content_name"><%= comment.user.display_name %></div>
              <p class="comment_content_p"><%= comment.content %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= link_to '+ Add new comment', new_board_task_comment_path(@task.board, @task), class: 'comments_new new_board' %>
      <% end %>
    </div>
  </div>
</div>
