<div class="board">
  <h3 class="board_title"><%= link_to board.title, board_path(board) %></h3>
  <p class="board_content"><%= board.content %></p>
  <div class="board_display">
    <%= image_tag board.user.avatar_image, class: 'board_display_icon' %>
    <p class="board_display_name"><%= board.author_name %></p>
  </div>
  <% if user_signed_in? && current_user.has_written?(board) %>
    <div class="board_drop">
      <%= image_tag 'drop.svg', class: 'board_drop_icon' %>
      <div class="board_drop_content">
        <%= link_to 'Edit', edit_board_path(board), class: 'board_drop_content_btn' %>
        <%= link_to 'Delete', board_path(board), class: 'board_drop_content_btn', method: :delete %>
      </div>
    </div>
  <% end %>
</div>
