<div class="box">
  <h2>All Boards</h2>
  <div class="boards">
    <% @boards.each do |board| %>
      <div class="card">
        <h3 class="card_title"><%= board.title %></h3>
        <p class="card_content"><%= board.content %></p>
        <%= image_tag 'icon2.png', class: 'card_icon' %>
        <div class="card_drop">
          <%= image_tag 'drop.svg', class: 'card_drop_icon' %>
          <div class="card_drop_content">
            <a href="#">Edit</a>
            <a href="#">Delete</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to '+ Add new board', new_board_path, class: 'new_board' %>
</div>
