<div class="box">
  <h2>All Boards</h2>
  <div class="boards">
    <% @boards.each do |board| %>
      <div class="board">
        <h3 class="board_title"><%= board.title %></h3>
        <p class="board_content"><%= board.content %></p>
        <%= image_tag 'icon2.png', class: 'board_icon' %>
        <div class="board_drop">
          <%= image_tag 'drop.svg', class: 'board_drop_icon' %>
          <div class="board_drop_content">
            <%= link_to 'Edit', edit_board_path(board), class: 'board_drop_content_btn' %>
            <a href="#" class="board_drop_content_btn">Delete</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to '+ Add new board', new_board_path, class: 'new_board' %>
</div>
