<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="box">
        <div class="header">
          <div class="header_title">
            <% if current_page?(root_path) %>
              <h1 class="header_title_h">Boards</h1>
            <% else %>
              <%= link_to :back, class: 'header_title_img' do %>
                <%= image_tag 'back.svg' %>
              <% end %>
              <%= link_to 'Boards', '/', class: 'header_title_h header_title_a' %>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="board_drop header_drop">
              <%= image_tag 'user.svg', class: 'header_drop_icon' %>
              <div class="board_drop_content header_drop_content">
                <%= link_to 'Profile', profile_path, class: 'board_drop_content_btn' %>
                <%= link_to 'Sign out', destroy_user_session_path, data: {method: 'delete'}, class: 'board_drop_content_btn' %>
              </div>
            </div>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class: 'header_login' %>
          <% end %>
        </div>
      </div>
    </header>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
