<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="box">
        <div class="header">
          <h1 class="header_title">Boards</h1>
          <% if user_signed_in? %>
            <div class="board_drop header_drop">
              <%= image_tag 'icon1.png', class: 'header_drop_icon' %>
              <div class="board_drop_content header_drop_content">
                <a href="#" class="board_drop_content_btn">Profile</a>
                <%= link_to 'Sign out', destroy_user_session_path, data: {method: 'delete'}, class: 'board_drop_content_btn' %>
              </div>
            </div>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class: 'header_login' %>
          <% end %>
        </div>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
